{% load static %}
<html>
<head>
   
   <link rel="stylesheet" href="{% static 'home.css'%}">
</head>
<body id="bg" >
 
  <div class="name4" >NATIONAL INSTITUTE OF  ANDHRAPRADESH</div>
  <div class="home">
   
    <a href="/sgpa" class="button">Student</a>
    <a href="/teacherlogin" class="button">Teacher</a>
  </div>
</body>
<style>
  .name4{
    padding-top: 0%;
    margin-top: 0%;
    text-align: center;
    font-size: 30px;
    box-shadow: 2cm;
    background-color: whitesmoke;
    border-radius: 1cm;
    border-color: black;

  }
  


</style>
</html>